<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctillnow.mapper.MobileDeviceAppiumBindMapper">
    <resultMap id="BaseResultMap" type="com.ctillnow.bean.MobileDeviceAppiumBind">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="device_id" jdbcType="INTEGER" property="deviceId"/>
        <result column="appium_id" jdbcType="INTEGER" property="appiumId"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, device_id, appium_id, is_deleted, create_time, last_update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mobile_device_appium_bind
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM t_mobile_device_appium_bind
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ctillnow.bean.MobileDeviceAppiumBind">
        INSERT INTO t_mobile_device_appium_bind (id, device_id, appium_id,
                                                 is_deleted, create_time, last_update_time
        )
        VALUES (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{appiumId,jdbcType=INTEGER},
                #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ctillnow.bean.MobileDeviceAppiumBind">
        insert into t_mobile_device_appium_bind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="appiumId != null">
                appium_id,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=INTEGER},
            </if>
            <if test="appiumId != null">
                #{appiumId,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qingqing.wxatui.domain.MobileDeviceAppiumBind">
        update t_mobile_device_appium_bind
        <set>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=INTEGER},
            </if>
            <if test="appiumId != null">
                appium_id = #{appiumId,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ctillnow.bean.MobileDeviceAppiumBind">
        UPDATE t_mobile_device_appium_bind
        SET device_id        = #{deviceId,jdbcType=INTEGER},
            appium_id        = #{appiumId,jdbcType=INTEGER},
            is_deleted       = #{isDeleted,jdbcType=TINYINT},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByDeviceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mobile_device_appium_bind
        where
        device_id = #{deviceId,jdbcType=INTEGER}
        AND is_deleted=0
        LIMIT 1
    </select>

</mapper>